.listItem__wrapper {
	list-style-type: none;
	padding: 30px;
	margin: 0 0 50px;
	display: flex;
}

.listItem__image {
	flex-shrink: 0;
	margin-right: 30px;
	max-width: 100%;
	width: 150px;
	height: 100%;
	border-radius: 50%;
}

.listItem__name {
	margin: 0;
	color: #1E58FF;
	font-weight: 700;
}

.listItem__description {
	margin: 10px 0 20px;
	font-weight: 300;
}

.listItem__button {
	font-size: 10px;
	text-decoration: none;
	padding: 7px 12px;
	font-weight: 500;
	background: none;
	border: 2px solid #1E58FF;
	color: #1E58FF;
}